.product-container {
    display: flex;
    background-color: #fff;
    .content-left {
        color: #000;

        width: 50%;
        padding: 10px;
    }
    .img-up {
        img {
            height: 500px;
        }
    }
    .img-down {
        display: flex;
        gap: 10px;

        .img-small {
            padding-top: 10px;
            .active {
                border: 3px solid rgba(69, 73, 59, 0.795);
            }
            img {
                height: 80px;
                width: 80px;
                border-radius: 3px;
                cursor: pointer;
            }
        }
    }
    .content-right {
        color: #000;
        width: 50%;

        background-color: #fafafa;
        .title {
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            padding: 10px 0;
        }
        .price {
            font-size: 20px;
            font-weight: 600;
            padding: 5px 0 15px 0;
        }
        .size {
            padding: 5px 0;
        }
        .action {
            display: flex;
            flex-direction: column;
            gap: 15px;
            .quantity {
                padding: 15px 0 0 0;
            }
            input {
                border: none;
                outline: none;
                height: 25px;
                width: 30px;
                border-radius: 3px;
            }
            .buy {
                border: none;
                outline: none;
                border-radius: 3px;
                height: 30px;
                color: white;
                background-color: #ff3945;
            }
        }
    }
}
